.ui-pnotify {
    top: 20px;
    right: 20px;
    position: absolute;
    height: auto;
    z-index: 2;
    border-radius: 3px;
}
body > .ui-pnotify {
    position: fixed;
    z-index: 100040;
}
.ui-pnotify.alert-rounded > .ui-pnotify-container {
    border-radius: 100px;
}
.ui-pnotify[class*=bg-] > .ui-pnotify-container {
    background-color: inherit;
    border-color: transparent;
    color: #fff;
}
.ui-pnotify[class*=text-] > .ui-pnotify-container,
.ui-pnotify[class*=alpha-] > .ui-pnotify-container {
    background-color: inherit;
    border-color: inherit;
    color: inherit;
}
.ui-pnotify.stack-top-left,
.ui-pnotify.stack-bottom-left {
    left: 20px;
    right: auto;
}
.ui-pnotify.stack-bottom-right,
.ui-pnotify.stack-bottom-left {
    bottom: 20px;
    top: auto;
}
.ui-pnotify.stack-modal {
    left: 50%;
    right: auto;
    margin-left: -150px;
}
.ui-pnotify.stack-custom-right {
    top: auto;
    left: auto;
    bottom: 200px;
    right: 200px;
}
.ui-pnotify.stack-custom-left {
    top: 200px;
    left: 200px;
    right: auto;
    bottom: auto;
}
.ui-pnotify.stack-custom-top {
    right: 0;
    left: 0;
    top: 0;
}
.ui-pnotify.stack-custom-bottom {
    right: 0;
    left: 0;
    bottom: 0;
    top: auto;
}
.ui-pnotify.ui-pnotify-in {
    display: block!important;
}
.ui-pnotify.ui-pnotify-move {
    -webkit-transition: left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
    -o-transition: left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
    transition: left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
}
.ui-pnotify.ui-pnotify-fade-slow {
    -webkit-transition: opacity linear 0.6s;
    -o-transition: opacity linear 0.6s;
    transition: opacity linear 0.6s;
    opacity: 0;
    filter: alpha(opacity=0);
}
.ui-pnotify.ui-pnotify-fade-slow.ui-pnotify.ui-pnotify-move {
    -webkit-transition: opacity .6s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
    -o-transition: opacity .6s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
    transition: opacity .6s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
}
.ui-pnotify.ui-pnotify-fade-normal {
    -webkit-transition: opacity linear 0.4s;
    -o-transition: opacity linear 0.4s;
    transition: opacity linear 0.4s;
    opacity: 0;
    filter: alpha(opacity=0);
}
.ui-pnotify.ui-pnotify-fade-normal.ui-pnotify.ui-pnotify-move {
    -webkit-transition: opacity .4s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
    -o-transition: opacity .4s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
    transition: opacity .4s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
}
.ui-pnotify.ui-pnotify-fade-fast {
    transition: opacity .2s linear;
    -webkit-transition: opacity linear 0.2s;
    -o-transition: opacity linear 0.2s;
    transition: opacity linear 0.2s;
    opacity: 0;
    filter: alpha(opacity=0);
}
.ui-pnotify.ui-pnotify-fade-fast.ui-pnotify.ui-pnotify-move {
    -webkit-transition: opacity .2s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
    -o-transition: opacity .2s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
    transition: opacity .2s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
}
.ui-pnotify.ui-pnotify-fade-in {
    opacity: 1;
    filter: alpha(opacity=100);
}
.ui-pnotify-container {
    padding: 15px 20px;
    height: 100%;
    position: relative;
    left: 0;
    margin: 0;
    border-radius: 3px;
}
.ui-pnotify-container:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.ui-pnotify-container.ui-pnotify-sharp {
    border-radius: 0;
}
.ui-pnotify-title {
    display: block;
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 15px;
}
.ui-pnotify-text {
    display: block;
}
.ui-pnotify-icon {
    display: block;
    float: left;
    line-height: 1;
}
.ui-pnotify-icon > [class^=icon-] {
    margin-top: 4px;
    margin-right: 15px;
}
.ui-pnotify-closer,
.ui-pnotify-sticker {
    float: right;
    margin-left: 8px;
    margin-top: 4px;
    line-height: 1;
    outline: 0;
}
.ui-pnotify-modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
body > .ui-pnotify-modal-overlay {
    position: fixed;
    z-index: 100039;
}
.brighttheme {
    border: 1px solid;
}
.ui-pnotify[class*=bg-] > .brighttheme {
    background-color: inherit;
    border-color: inherit;
    color: inherit;
}
.brighttheme-notice {
    background-color: #FFF3E0;
    border-color: #FF9800;
}
.brighttheme-info {
    background-color: #E3F2FD;
    border-color: #1E88E5;
}
.brighttheme-success {
    background-color: #E8F5E9;
    border-color: #4CAF50;
}
.brighttheme-error {
    background-color: #FBE9E7;
    border-color: #FF5722;
}
.brighttheme-icon-closer,
.brighttheme-icon-sticker {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    width: 10px;
    height: 10px;
    outline: 0;
}
.brighttheme-icon-closer:after,
.brighttheme-icon-sticker:after {
    content: '';
    font-family: 'Icomoon';
    font-size: 10px;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.brighttheme-icon-closer:after {
    content: "\ed6a";
}
.brighttheme-icon-sticker:after {
    content: "\ee70";
}
.brighttheme-icon-sticker.brighttheme-icon-stuck:after {
    content: "\ee75";
}
.ui-pnotify[class*=alert-styled-] {
    border-width: 0;
    padding: 0;
}
.ui-pnotify.alert-styled-left .brighttheme {
    border-left-width: 44px;
}
.ui-pnotify.alert-styled-left:after {
    left: 0;
}
.ui-pnotify.alert-styled-right .brighttheme {
    border-right-width: 44px;
}
.ui-pnotify.alert-styled-right:after {
    right: 0;
}
.brighttheme .ui-pnotify-action-bar {
    padding-top: 15px;
}
.brighttheme .ui-pnotify-action-bar textarea,
.brighttheme .ui-pnotify-action-bar input {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 15px !important;
    color: #333333;
    padding: 7px 12px;
}
.ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar textarea,
.ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar input {
    border-color: #fff;
    color: #fff;
}
.ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar textarea::-moz-placeholder,
.ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar textarea:-ms-input-placeholder,
.ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar input:-ms-input-placeholder {
    color: #fff;
}
.ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar textarea::-webkit-input-placeholder,
.ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar input::-webkit-input-placeholder {
    color: #fff;
}
.ui-pnotify[class*=bg-] .form-control {
    border-bottom-color: #fff;
    color: #fff;
}
.ui-pnotify[class*=bg-] .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.ui-pnotify[class*=bg-] .form-control:-ms-input-placeholder {
    color: #fff;
}
.ui-pnotify[class*=bg-] .form-control::-webkit-input-placeholder {
    color: #fff;
}
.ui-pnotify-history-container {
    position: absolute;
    top: 0;
    right: 20px;
    width: 70px;
    border-top: none;
    padding: 0;
    z-index: 10000;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.ui-pnotify-history-container.ui-pnotify-history-fixed {
    position: fixed;
}
.ui-pnotify-history-container .ui-pnotify-history-header {
    padding: 2px;
    text-align: center;
}
.ui-pnotify-history-container button {
    cursor: pointer;
    display: block;
    width: 100%;
}
.ui-pnotify-history-container .ui-pnotify-history-pulldown {
    display: block;
    margin: 0 auto;
}
@media (max-width: 480px) {
    .ui-pnotify-mobile-able.ui-pnotify {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: auto !important;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        font-smoothing: antialiased;
    }
    .ui-pnotify-mobile-able.ui-pnotify .ui-pnotify-shadow {
        border-bottom-width: 5px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .ui-pnotify-mobile-able.ui-pnotify.stack-top-left,
    .ui-pnotify-mobile-able.ui-pnotify.stack-bottom-left {
        left: 0;
        right: 0;
    }
    .ui-pnotify-mobile-able.ui-pnotify.stack-bottom-right,
    .ui-pnotify-mobile-able.ui-pnotify.stack-bottom-left {
        left: 0;
        right: 0;
        bottom: 0;
        top: auto;
    }
    .ui-pnotify-mobile-able.ui-pnotify.stack-bottom-right .ui-pnotify-shadow,
    .ui-pnotify-mobile-able.ui-pnotify.stack-bottom-left .ui-pnotify-shadow,
    .ui-pnotify-mobile-able.ui-pnotify.stack-bottom-right .ui-pnotify-shadow,
    .ui-pnotify-mobile-able.ui-pnotify.stack-bottom-left .ui-pnotify-shadow {
        border-top-width: 5px;
        border-bottom-width: 1px;
    }
    .ui-pnotify-mobile-able.ui-pnotify.ui-pnotify-nonblock-fade {
        opacity: 0.2;
        filter: alpha(opacity=20);
    }
    .ui-pnotify-mobile-able.ui-pnotify.ui-pnotify-nonblock-hide {
        display: none !important;
    }
    .ui-pnotify-mobile-able .ui-pnotify-container {
        border-radius: 0;
    }
}